input, button{
    display: flex;
    flex-direction: column;
}

form input{
    margin-bottom: 2%;
    width: 75vw;
    height: 50px;
}
form textarea{
    width: 75vw;
    margin-bottom: 2%;
}
.btnForm{
    background-color: #00022e;
    border-radius: 30px;
    color: white;
    position: relative;
    font-size: 30px;
}


.btnForm:hover{
    background-color: red;
}

.whatsappChat{
    width: 45%;
    height: 50px;
    background-color: #00022e;
    color: white;
    margin-top: 8%;
    position: relative;
    border-radius: 30px;
    font-size: 20px;
    animation-name: backgroundChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes backgroundChange {
    0% {background-color: #00022e;}
    50% {background-color: red;}
    100%{background-color: skyblue;}
  }



.contacttext{
    position: absolute;
    top: 15%;
    left: 2%;
    
}




@media all and (max-width:300px),(max-width:480px),(max-width:600px),(max-width:768px){
    .whatsappChat{
        width:250px ;
    }
}