.galleryBtn{
    display: flex;
    flex-direction: column;
    
}

.galleryBtn button:hover{
    background-color: skyblue;
}

.galleryBtn button{
    margin-bottom: 20px;
    background-color: #00022e;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 20px;
}


.alumni .col-lg-4, .extracurricular .col-lg-4, .achievement .col-lg-4, .buildings .col-lg-4 {
    margin-bottom: 8%;
}

.col-8-lg h2{
    color: #00022e;
    margin-bottom: 5%;
}

.col-8-lg .card-title{
color: red;
}

.extracurricular{
    display: none;
}



