*{
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.firstHeader{
    font-size: 25px;
    animation-name: sloganAnime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}





@keyframes sloganAnime{
  0% {color: white;}
  25%  {color: red;}
  50%  {color: white;}
  100% {color: skyblue;}
}








.schoolName{
    font-size: 30px;
}

.topHeader{
    background-color: #00022e;
    color: white;
    height: 50px;
    width: auto;
    position: relative;
}
.nav-link {
    color: #00022e;
    font-size: 20px;
    font-weight: 800;
}

.slide-text{
    position: absolute;
    top: 20%;
    left: 10%;
}


.slide-text h1{
    color: #00022e;
    font-size: 20px;
}
.slide-text .paraText{
    color: red;
    font-weight: 800;
    font-size: 20px;
}

.PrimaryBtn{
    border-radius: 10px;
    padding: 5px;
    background-color: #00022e;
    color: white;
    margin-top: 12%;
    margin-right: 5%;
    text-align: center;
    width: 170px;
    height: 50px;

}

.secondaryBtn{
    border-radius: 10px;
    padding: 5px;
    width: 180px;
    background-color: red;
    color: white;
    margin-top: 8%;
    text-align: center;
    height: 50px;
}

.homeEnrolbtn{
    border-radius: 10px;
    padding: 5px;
    background-color: #00022e;
    color: white;
    margin-top: 8%;
    margin-right: 5%;
    text-align: center;
    width: 170px;
    height: 50px;

}

.slideGalleryBtn{
    border-radius: 10px;
    padding: 5px;
    width: 170px;
    background-color: red;
    color: white;
    margin-top: 30%;
    text-align: center;
    height: 50px;

}


.slideGalleryBtn:hover, .homeEnrolbtn:hover, .secondaryBtn:hover, .PrimaryBtn:hover{
    background-color: skyblue;
    color: red;
}

.firstBodyImg{
    border-radius: 10px;
}
.firstTitle{
    color: red;
    margin-bottom: 2%;
}



.textAnime{
    animation-duration: 4s;
	animation-name: slideinText;
    position: relative;
}

@keyframes slideinText {
	from {left: 100%;}
	
	to {left:0%;}
}


.secondTitle{
    color: #00022e;
    margin-bottom: 5%;
}
.learnMore, .viewAll{
    border-radius: 10px;
    padding: 5px;
    background-color: #00022e;
    color: white;
}

.viewAll:hover, .learnMore:hover{
background-color: skyblue;
color: red;
}

.visionHeader, .missionHeader{
    color: red;
}
.believe , .achieve{
    color: #00022e;
    margin-bottom: 3%;
}

.anthemHeader, .schoolPledge{
    color: red;
}
.galleryHeader{
    margin-bottom: 3%;
}
.galleryImg{
    margin-bottom: 3%;
}

.footerCont{
    color: white;
    margin-top: 20%;
    background-color: #00022e;
}

.footerHeader{
    color: red;
    margin-bottom: 7%;
    font-size: 22px;
}
.socialCont span{
    margin-right: 20px;
    font-size: 25px;
}

h4.footNum, h4.footEmail{
    position: relative;
    left: 3%;
}



.scrollTopContainer{
height: 30px;
width: 30px;
background-color: skyblue;
display: flex;
justify-content: center;
align-items:center;
position: fixed;
right: 30px;
bottom: 20px;
border-radius: 5px;
z-index: 99;
}

.scrollTopContainer:hover{
    background-color: #00022e;
}

.scrollBtn{
    font-size: 25px;
    color:white;
}







@media all and (max-width:300px),(max-width:480px),(max-width:600px),(max-width:768px){

.firstHeader{
    font-size: 15px;
    text-align: center;
}

.schoolName{
    font-size: 30px;
}

.topHeader{
    height: 86px;
    width: auto;
}

.slideFirstbtn{
    display: flex;
    flex-direction: column;
}

.slide-text .paraText{
    color: red;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}
.PrimaryBtn, .secondaryBtn, .homeEnrolbtn, .slideGalleryBtn{
    width: 180px;
    height: 35px;
    padding-right: 20px;

}

.slideGalleryBtn{
    border-radius: 10px;
    padding: 5px;
    width: 170px;
    background-color: red;
    color: white;
    margin-top: 40%;

}


.footerCont{
    color: white;
    margin-top: 30%;
    background-color: #00022e;
}
h4.footNum, h4.footEmail{
    position: relative;
    left: 3%;
}


.socialMedia{
    margin-top: 15%;
}


.socialCont span{
    font-size: 35px;
}


}